.loginContent {
    text-align: center;
}

.loginHeader {
    margin-bottom: 50px;
}

.loginForm {
  display: grid;
  grid-template-rows: auto auto 55px 50px;
  justify-items: center;
}

.errorBox {
    color: red;
    width: 200px;
    font-size: 12px;
}




